In [1]:
import pandas as pd
import random

data = pd.read_csv('./kc_house_data.csv')
data = data.loc[0:, ['bedrooms', 'sqft_living', 'lat', 'long', 'price']]

# normalize all columns except label
def normalize_column(column):
    min = column.min()
    max = column.max()
    diff = max - min
    
    def normalize_value(val):
        val = (val - min) / diff
        return val
    
    column = column.apply(normalize_value)
    return column

for column in data.columns:
    if column == 'price':
        continue
    data[column] = normalize_column(data[column])

# separate test data and training data
test_data = pd.DataFrame(columns = list(data.columns))
rows_count = data.shape[0]

for i in range(0, 100):
    idx = random.randrange(rows_count)
    test_row = data.iloc[idx:idx + 1]
    test_data = pd.concat([test_data, test_row])
    data.drop(idx, inplace = True)    
    
train_data = data
del data

In [12]:
test_data_features = test_data.iloc[0:, 0:4]
test_data_features

       bedrooms  sqft_living       lat      long
4268   0.363636     0.290566  0.769664  0.252492
8602   0.181818     0.167547  0.959627  0.260797
12367  0.272727     0.158491  0.453434  0.298173
5483   0.181818     0.037736  0.393759  0.186877
6502   0.272727     0.064906  0.462442  0.618771
...         ...          ...       ...       ...
19150  0.272727     0.116226  0.350491  0.396179
2158   0.272727     0.113962  0.771755  0.332226
11120  0.363636     0.150189  0.403410  0.406146
11104  0.272727     0.149434  0.937590  0.259967
8456   0.272727     0.067925  0.579862  0.274086

[100 rows x 4 columns]

       bedrooms  sqft_living       lat      long     price
0      0.272727     0.067170  0.571498  0.217608  221900.0
1      0.272727     0.172075  0.908959  0.166113  538000.0
2      0.181818     0.036226  0.936143  0.237542  180000.0
3      0.363636     0.126038  0.586939  0.104651  604000.0
4      0.272727     0.104906  0.741354  0.393688  510000.0
...         ...          ...       ...       ...       ...
21607  0.272727     0.093585  0.874055  0.143688  360000.0
21608  0.363636     0.152453  0.570693  0.130399  400000.0
21609  0.181818     0.055094  0.705324  0.182724  402101.0
21610  0.272727     0.098868  0.608975  0.373754  400000.0
21611  0.181818     0.055094  0.704842  0.182724  325000.0

[21607 rows x 5 columns]

In [3]:
train_data['long'].describe()

count    21607.000000
mean         0.253419
std          0.116975
min          0.000000
25%          0.158638
50%          0.240033
75%          0.327243
max          1.000000
Name: long, dtype: float64